#clock {
    position: relative;
}

#time {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#time > span {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

#time > h-flex {
    gap: 10px;
}

#status {
    bottom: 0;
}